body {
    font-family: "Avenir Next";
    background-color: #ffefcf;
}

li {
    list-style: none;
}

.header {
    background-color: #864000;
    color: rgb(255, 255, 255);
    height: 90px;
    position: relative;/*fixedの場合もありますね*/
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.header-logo {
    float: left;
    font-size: 40px;
    padding: 20px 40px;
}

.header-list li{
    float: left;
    padding: 46px 20px 20px 20px;
}

.main{
    padding: 0px 80px 100px 80px;
    color:black;
}

.copy-container h1{
    font-size: 100px;
    text-align: center
}

.copy-container h1 span{
    font-size: 110px;
    padding-top: 30px;
}

span{
    color:#d44000;
}

.profile{
    display: flex;
    flex-direction: row;
}

.frame img{
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width:  340px;       /* ※縦横を同値に */
    height: 340px;       /* ※縦横を同値に */
    filter: drop-shadow(0px 0px 8px rgba(0,0,0,0.92));
    position:relative;
    padding-right: 30px;
}

.profile h1{
    border-bottom:2px solid #ff7a00;
}

.profile div:nth-of-type(2){
    padding-top: 30px;
}
.profile>div>h2{
    overflow-wrap: break-word;
}

.hoby{
    padding-left: 50px;
}
.hoby h1{
    border-bottom:2px solid #ff7a00;
}

.enthusiasm{
    padding-left: 50px;
}
.enthusiasm h1{
    border-bottom:2px solid #ff7a00;
    padding-top: 10px;
}

.footer{
    background-color: #d44000;
    color: #fff;
    height: 70px;
    padding: 40px;
    box-shadow: 6px 6px 12px #4b2500 inset;
}
.address{
    float: left;
    font-size: 32px;
}
.address-list{
    float: right;
}
.address-list li {
    padding-bottom: 20px;
}